#container{

	display: grid;
	grid-template-columns: 2fr 6fr 2fr;
	grid-template-areas: ". header ."
						"leftsidebar medilecontaintbar rightsidebar"
						"footerarea footerarea footerarea";

	grid-gap: 10px;
}
.header{
	grid-area:  header;
	background:green;
	height: 100px;
}

.header ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
	margin-top: 25px;
}
.header ul li{
	display: inline-block;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	padding: 10px;

}
.header ul li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	color: #000;
	padding: 10px;
	text-transform: uppercase;
	font-family: aharoni;

}

.header ul li a:hover{
	
	color: #fff;
	transition: 1s;
	
}
.leftsidebar{
	grid-area: leftsidebar;
	background:black;
	height: 600px;
}
.medilecontaintbar{
	grid-area: medilecontaintbar;
	background:yellow;
	height: 600px;
}
.rightsidebat{
	grid-area: rightsidebar;
	background:black;
	height: 600px;
}
.footerarea{
	grid-area: footerarea;
	background:orange;
	height: 100px;
}


/* css gride  system code */ 

display: grid;
display: inline-grid;

grid-column-gap:
grid-row-gap:
grid-gap:

grid-column-start: 1;
grid-column-end: 3;

/* container */
grid-template-columns: auto auto auto auto;
grid-template-columns: 80px 200px auto 40px;
grid-template-rows: 80px 200px;

justify-content: space-evenly;
justify-content: space-around;
justify-content: space-between;
justify-content: center;
justify-content: start;
justify-content: end;

align-content: center;
align-content: space-evenly;
align-content: space-around;
align-content: space-between;
align-content: start;
align-content: end;

/* grid item */

grid-column: 1 / 5;
grid-column: 1 / span 3;
grid-column: 2 / span 3;

grid-row: 1 / 4;
grid-row: 1 / span 2;

grid-area: 1 / 2 / 5 / 6;
grid-area: 2 / 1 / span 2 / span 3;
grid-template-areas:





